@media (max-width:1400px) {
    .skill-text {
        position: absolute;
        left: -440px;
        transition: 0.4s;
        top: 130px;
    }
    .skill-text h3 {
        font-family: "Tourney", cursive;
        font-size: 40px;
        color: white;
        background: black;
        padding: 5px;
    }
}

@media (max-width:1200px) {
    .skill-text {
        position: absolute;
        left: -440px;
        transition: 0.4s;
        top: 190px;
    }
    .skill-text h3 {
        font-family: "Tourney", cursive;
        font-size: 40px;
        color: white;
        background: black;
        padding: 5px;
    }
}

@media (max-width:992px) {
    .main-img-bio-text {
        width: 550px;
        padding: 10px;
        position: absolute;
        left: 65px;
        top: 100px;
        color: black;
    }
    .service-img {
        width: 100% !important;
    }
    .service-list-img {
        width: 100% !important;
    }
    /* skill section custom css responsive */
    .skill-text {
        position: absolute;
        left: -440px;
        transition: 0.4s;
        top: 320px;
    }
    .skill-text h3 {
        font-family: "Tourney", cursive;
        font-size: 40px;
        color: white;
        background: black;
        padding: 5px;
    }
    .menuListTitle h1 {
        font-size: 64px;
        font-family: "Zen Tokyo Zoo", cursive;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

@media (max-width:768px) {
    .skill-text {
        position: absolute;
        left: -440px;
        transition: 0.4s;
        top: 220px;
    }
    .skill-text h3 {
        font-family: "Tourney", cursive;
        font-size: 40px;
        color: white;
        background: black;
        padding: 5px;
    }
    .menuListTitle h1 {
        font-size: 45px;
        font-family: "Zen Tokyo Zoo", cursive;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

@media (max-width:568px) {
    .skill-text {
        position: absolute;
        left: -440px;
        transition: 0.4s;
        top: 195px;
    }
    .skill-text h3 {
        font-family: "Tourney", cursive;
        font-size: 35px;
        color: white;
        background: black;
        padding: 5px;
    }
    .menuListTitle h1 {
        font-size: 45px;
        font-family: "Zen Tokyo Zoo", cursive;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
    }
}


/* last op lavel cutom responsive */

@media (min-width:992px) and (max-width:1641px) {
    div#mail a {
        text-decoration: none;
        font-size: 23px;
        font-family: 'DM Sans';
        background: tomato;
        padding: 13px 20px;
        border-radius: 0px 8px 8px 0px;
        color: white;
        transition: 0.4s;
        position: relative;
        top: -44px;
        left: 202px;
    }
}

@media (min-width:768px) and (max-width:820px) {
    div#mail a {
        text-decoration: none;
        font-size: 23px;
        font-family: 'DM Sans';
        background: tomato;
        padding: 13px 20px;
        border-radius: 0px 8px 8px 0px;
        color: white;
        transition: 0.4s;
        position: relative;
        top: -44px;
        left: 202px;
    }
}

@media (max-width:425px) {
    .main-img-bio-text h1 {
        font-family: "Yomogi", cursive;
        font-size: 63px;
        line-height: 100px;
        font-weight: 900;
        margin-top: 45px;
    }
    .skill-text {
        position: absolute;
        left: -440px;
        transition: 0.4s;
        top: 120px;
    }
    .animationDiv h1 {
        font-size: 40px;
        font-family: "Otomanopee One", sans-serif;
    }
    .text {
        font-size: 35px;
        top: 5px;
        left: 130px;
    }
    .maintext {
        font-size: 35px;
        top: 5px;
        left: 130px;
    }
    .main-img-bio-text {
        width: 550px;
        padding: 10px;
        position: absolute;
        left: 11px;
        top: 100px;
        color: black;
    }
}

@media (max-width:411px) {
    div#mail a {
        text-decoration: none;
        font-size: 23px;
        font-family: 'DM Sans';
        background: tomato;
        padding: 13px 20px;
        border-radius: 0px 8px 8px 0px;
        color: white;
        transition: 0.4s;
        position: relative;
        top: -45px;
        left: 220px;
    }
    .main-img-bio-text {
        width: 550px;
        padding: 10px;
        position: absolute;
        left: 7px;
        top: 100px;
        color: black;
    }
}

@media (max-width:320px) {
    .menuListTitle h1 {
        font-size: 32px;
    }
    .animationDiv h1 {
        font-size: 35px;
        font-family: "Otomanopee One", sans-serif;
    }
    .text {
        font-size: 22px;
        top: 12px;
        left: 100px;
    }
    .maintext {
        font-size: 22px;
        top: 12px;
        left: 100px;
    }
    .aboutInfo-para {
        font-size: 21px;
    }
    .data {
        font-size: 20px;
    }
    .data span {
        font-weight: 700;
        color: tomato;
        font-size: 25px;
    }
    .icon {
        margin-right: 10px;
        font-size: 25px;
        color: #5555ff;
    }
    div#mail a {
        text-decoration: none;
        font-size: 23px;
        font-family: 'DM Sans';
        background: tomato;
        padding: 13px 20px;
        border-radius: 0px 8px 8px 0px;
        color: white;
        transition: 0.4s;
        position: relative;
        top: -45px;
        left: 180px;
    }
    .main-img-bio-text {
        width: 550px;
        padding: 10px;
        position: absolute;
        left: 20px;
        top: 100px;
        color: black;
    }
    .main-img-bio-text h1 {
        font-family: "Yomogi", cursive;
        font-size: 30px;
        line-height: 100px;
        font-weight: 900;
        margin-top: 45px;
    }
    .main-img-bio-text h1 span {
        font-size: 65px;
    }
}